<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel ="stylesheet" href ="/forgotpassword.css">
</head>
<body>
    <form action="http://localhost:8080/stuffmamalogin" method="get">
        <div class="main">
        <div class="image">
            <img src="/stuffmama.jpeg" alt="nothing">
        </div>
        <div class="container">
            <img src="/logo.jpeg" alt="nothing">
            <h1>Reset Password</h1>
            
            <div class="one">
            <p>New password</p>
            <input type="password" placeholder="New password" autocomplete ="off" name="password">
            </div>
           <div class="two">
            <p>Confirm password</p>
            <input type="password" placeholder="Confirm password" autocomplete ="off" name="password1">
           </div>

    
            <button>Reset Password</button>
        
            
            
        </div>
        </form>
    
</body>
</html>