<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stuff mama</title>
    <link rel="stylesheet" href="/login.css">
</head>
<body>
    <form action="http://localhost:8080/stuffmamalogin" method="post">
    <div class="main">
    <div class="image">
        <img src="stuffmama.jpeg" alt="nothing">
    </div>
    <div class="container">
        <img src="logo.jpeg" alt="nothing">
        <h1>Login</h1>  
        
        <div class="one">
        <p>Email:</p>
        <input type="text" placeholder="Email" autocomplete ="off" name="email">
        </div>
       <div class="two">
        <p>Password:</p>
        <input type="password" placeholder="Password" autocomplete ="off" name="password">
    </div>
        
        <button>Login</button>
    
        <div class="three">
            <a href="http://localhost:8080/stuffmama/forgotpassword">Forgot password</a>
            <a href="http://localhost:8080/stuffmama/signin">New user/Sign Up</a>

        </div>
        <div class="img1">
            <img src="/google.png" alt="google" >
        <button class="google">Login with Google</button>
       
        </div>
    </div>
    </form>
 
    
</body>
</html>