<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stuff mama</title>
    <link rel="stylesheet" href="/signin.css">
</head>
<body>
    <form action="http://localhost:8080/stuffmama/signin" method="post">
    <div class="main">
    <div class="image">
        <img src="/stuffmama.jpeg" alt="nothing">
    </div>
    <div class="container">
        <img src="/logo.jpeg" alt="nothing">
        <h1>Sign Up</h1>
        
        <div class="one">
        <p>Name:</p>
        <input type="text" placeholder="Name" name="name">
        </div>
       <div class="two">
        <p>Email</p>
        <input type="text" placeholder="Email"  name="email">
       </div>
       <div class="three">
        <p>Password</p>
       <input type="password" placeholder="Password"  name="password">
       </div>

        <button>Sign Up</button>
    
        
        
    </div>
    </form>
 
    
</body>
</html>